<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <ol>
    <li><a href="/">管理首页</a></li>
    <li><span>分类添加</span> </li>
  </ol>
  <h3>分类添加</h3>
  <form action="/admin/category/add" method="post">
    <div class="form-group">
      <label for="name">分类名称</label>
      <input type="text" id="name" placeholder="请输入分类名称" name="name">
    </div>
    <input type="submit">
  </form>
</body>
</html>