<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/public/css/admin/admin_index.css">
  <title>用户管理</title>
</head>
<body>
  <nav>
    <div>
        <ul>
          <li><a href="/admin">后台管理</a></li>
          <li><a href="/admin/user">用户管理</a></li>
          <li class="category-management">
            <a href="javascript:void(0)">分类管理</a>
            <ul class="category-list">
              <li><a href="/admin/category">分类首页</a></li>
              <li><a href="/admin/category/add">添加分类</a></li>
            </ul>
          </li>
          <li class="content-management">
            <a href="javascript:void(0)">内容管理</a>
            <ul class="content-list">
              <li><a href="/admin/content">内容首页</a></li>
              <li><a href="/admin/content/add">添加内容</a></li>
            </ul>
          </li>
        </ul>
    </div>
  </nav>
  <h3>分类列表</h3>
  <section>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>分类名称</th>
          <th>操作</th>
        </tr>
      </thead>
      <% for(let i=0,len=categories.length;i<len;i++){%>
        <tr>
          <td><%= (page-1)*limit + i + 1 %></td>
          <td><%=categories[i].name %></td>
          <td>
            <a href="/admin/category/edit?id=<%=categories[i]._id%>">修改</a> | 
            <a href="/admin/category/delete?id=<%=categories[i]._id%>">删除</a>
          </td>
        </tr>
      <% } %>
    </table>
  </section>
</body>
</html>