<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/public/css/admin/admin_index.css">
  <title>后台管理</title>
</head>
<body>
  <nav>
    <div>
      <ul>
        <li><a href="/admin">后台管理</a></li>
        <li><a href="/admin/user">用户管理</a></li>
        <li class="category-management">
          <a href="javascript:void(0)">分类管理</a>
          <ul class="category-list">
            <li><a href="/admin/category">分类首页</a></li>
            <li><a href="/admin/category/add">添加分类</a></li>
          </ul>
        </li>
        <li class="content-management">
            <a href="javascript:void(0)">内容管理</a>
            <ul class="content-list">
              <li><a href="/admin/content">内容首页</a></li>
              <li><a href="/admin/content/add">添加内容</a></li>
            </ul>
          </li>
      </ul>
    </div>
    <div>
      <span></span>
    </div>
  </nav>
</body>
</html>