<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>注册失败</h1>
  <div>
    <span>错误代码：</span><span><%= code %></span>
    <span>错误原因：</span><span><%= message %></span>
  </div>
</body>
</html>