*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 共用css */
body { font: 14px "微软雅黑", Arial, Helvetica, sans-serif; background: url(../../imgs/base/bg.jpg) repeat; color: #555 }
img { border: 0; display: block }
ul, li { list-style: none; }

/*topnav*/
.topnav { line-height: 50px; height: 50px; color: #000; text-align: center; background: rgba(255, 255, 255, 0.58); position: fixed; width: 100%; top: 0; z-index: 999; box-shadow: #333 0px 2px 2px }
.topnav a { color: #000; font-weight: bold; margin: 0 5px }
#wrapper { background: url(../../imgs/base/footside.jpg) bottom center no-repeat; overflow: hidden; }
header { width: 100%; background: url(../../imgs/base/yuanshan.jpg) right bottom no-repeat }
.headtop { background: url(../../imgs/base/topbg.jpg) repeat-x; height: 28px; }
.contenttop { width: 1026px; margin: auto; }
.logo { padding: 50px 0 20px 20px; font-size: 26px; font-family: "微软雅黑", sans-serif; color: #333; font-weight: bold; }


/*nav*/
nav { margin: 0 0 15px 0 }
.navigation { height: 64px; background: url(../../imgs/base/navbg.png) no-repeat; font-family: "微软雅黑"; }
.menu { position: relative; margin-left: 70px; padding-top: 10px }
.menu li { float: left; width: 110px; text-align: center; position: relative; line-height: 46px; }
.menu li a { display: block; text-decoration: none; color: #fff; font-size: 15px; font-weight: bold }
.menu ul { position: relative; background: url(../../imgs/base/footerbg.png); z-index: 300; }
.menu li ul { display: none; width: 110px; position: absolute; TOP: 40px; left: 0; }
.menu li ul li { font-size: 12px; height: 28px; line-height: 28px }
.menu li ul li a { font-size: 14px }
.menu li ul li a:hover { background: #000 }
/* 默认菜单栏 */
#mnav h2 .navicon { margin-right: 15px; }
.navicon { display: inline-block; position: relative; width: 30px; height: 5px; background-color: #333; }
.navicon:before, .navicon:after { content: ''; display: block; width: 30px; height: 5px; position: absolute; background: #333; -webkit-transition-property: margin, -webkit-transform; transition-property: margin, -webkit-transform; transition-property: margin, transform; transition-property: margin, transform, -webkit-transform; -webkit-transition-duration: 300ms; transition-duration: 300ms; }
.navicon:before { margin-top: -10px; }
.navicon:after { margin-top: 10px; }
/* 展开后导航栏目 */
#mnav h2.open .navicon { background:none }/* 使用背景色隐藏中间的红线 */
#mnav h2.open .navicon:before { margin-top: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
#mnav h2.open .navicon:after { margin-top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
#mnav h2.open .navicon:before, #mnav h2.open .navicon:after { content: ''; display: block; width: 30px; height: 5px; position: absolute; background: #fff; -webkit-transition-property: margin, -webkit-transform; transition-property: margin, -webkit-transform; transition-property: margin, transform; transition-property: margin, transform, -webkit-transform; -webkit-transition-duration: 300ms; transition-duration: 300ms; }

/*footer*/
footer { background: url(../../imgs/base/footerbg.png) repeat-x; padding: 20px 0; color: #ccc; margin: 20px 0 0 0 }
.footer { width: 1000px; margin: auto; overflow: hidden }
.footer p { line-height: 24px; }
.footer a{ color:#ccc}
.textr { text-align: right }

.wrapper {
  width: 1026px;
  margin: 0 auto;
}

#content {
  display: none;
}

#blog .form-header {
  display: flex;
  justify-content: space-between;
}

#blog .form-header .form-group {
  flex: 1;
}

#blog .form-group .title-title,
#blog .form-group .category-title,
#blog .form-group .description-title,
#blog .form-group .content-title {
  display: block;
  padding: 5px 15px;
  margin: 20px 0 10px;
  border-left: 3px solid #8c8c8c;
  font-size: 18px;
  color: #333;
  font-weight: 600;
  font-family: 楷体;
}

#blog .form-group #title {
  width: 300px;
  height: 30px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  color: #555;
}

.wrapper #blog .form-header .form-group .category-wrapper{
  width: 200px;
  height: 32px;
}
.wrapper #blog .form-header .form-group .category-wrapper .category-selected{
  position: relative;
  width: 100%;
  height: 32px;
  line-height: 32px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.wrapper #blog .form-header .form-group .category-wrapper .category-selected::after{
  content:'';
  position: absolute;
  top: 12px;
  right: 14px;
  display: block;
  width:0;
  height:0;
  border-top: 8px solid #8c8c8c;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
}

.wrapper #blog .form-header .form-group .category-wrapper .category-selected p{
  margin: 0;
  padding: 0 10px;
  font-size: 14px;
}

.wrapper #blog .form-header .form-group .category-wrapper .category-options{
  position: absolute;
  z-index: 10000;
  padding: 10px;
  margin-top: 4px;
  width: 200px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.wrapper #blog .form-header .form-group .category-wrapper .category-options p{
  position: relative;
  margin: 10px   5px;
  padding: 0 5px;
  box-sizing: border-box;
  /* border-left: 2px solid #8c8c8c; */
  font-size: 14px;
  cursor: pointer;
}

.wrapper #blog .form-header .form-group .category-wrapper .category-options p:before{
  content:'';
  position: absolute;
  bottom: -1px;
  left: -2px;
  display: block;
  width: 0;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #8c8c8c;
  transition: all 0.2s ease 0.2s;
  
}

.wrapper #blog .form-header .form-group .category-wrapper .category-options p:hover::before{
  height: 0;
}


.wrapper #blog .form-header .form-group .category-wrapper .category-options p::after{
  content:'';
  position: absolute;
  bottom: -1px;
  left: -2px;
  display: block;
  width: 0;
  height: 0;
  box-sizing: border-box;
  border: 1px solid #8c8c8c;
  transition: all 0.2s ease 0.2s;
}

.wrapper #blog .form-header .form-group .category-wrapper .category-options p:hover::after{
  width: 100%;
}



#blog .form-group .description #description {
  padding: 10px;
  width: 1024px;
  height: 60px;
  resize: none;
  box-sizing: border-box;
  border-radius: 5px;
  border-color: #ccc;
  outline: none;
}

#blog .form-group .description .description-count {
  vertical-align: text-top;
  color: #828282;
}


#blog .publish-btn{
  margin-bottom: 30px;
  width: 310px;
  height: 50px;
  background: url(/public/imgs/base/rtitbg.png) no-repeat 0 4px;
  border: none;
  outline: none;
  text-align: left;
  text-indent: 50px;
  letter-spacing: 2px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}