
.wrapper {
  width: 1026px;
  margin: 0 auto;
}

#content {
  display: none;
}

#blog .form-header {
  display: flex;
  justify-content: space-between;
}

#blog .form-header .form-group {
  flex: 1;
}

#blog .form-group .title-title,
#blog .form-group .category-title,
#blog .form-group .description-title,
#blog .form-group .content-title {
  display: block;
  padding: 5px 15px;
  margin: 20px 0 10px;
  border-left: 3px solid #8c8c8c;
  font-size: 18px;
  color: #333;
  font-weight: 600;
  font-family: 楷体;
}

#blog .form-group #title {
  width: 300px;
  height: 30px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  color: #555;
}

.wrapper #blog .form-header .form-group .category-wrapper{
  width: 200px;
  height: 32px;
}
.wrapper #blog .form-header .form-group .category-wrapper .category-selected{
  position: relative;
  width: 100%;
  height: 32px;
  line-height: 32px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.wrapper #blog .form-header .form-group .category-wrapper .category-selected::after{
  content:'';
  position: absolute;
  top: 12px;
  right: 14px;
  display: block;
  width:0;
  height:0;
  border-top: 8px solid #8c8c8c;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
}

.wrapper #blog .form-header .form-group .category-wrapper .category-selected p{
  margin: 0;
  padding: 0 10px;
  font-size: 14px;
}

.wrapper #blog .form-header .form-group .category-wrapper .category-options{
  position: absolute;
  z-index: 10000;
  padding: 10px;
  margin-top: 4px;
  width: 200px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.wrapper #blog .form-header .form-group .category-wrapper .category-options p{
  position: relative;
  margin: 10px   5px;
  padding: 0 5px;
  box-sizing: border-box;
  font-size: 14px;
  cursor: pointer;
}

.wrapper #blog .form-header .form-group .category-wrapper .category-options p:before{
  content:'';
  position: absolute;
  bottom: -1px;
  left: -2px;
  display: block;
  width: 0;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #8c8c8c;
  transition: all 0.2s ease 0.2s;
  
}

.wrapper #blog .form-header .form-group .category-wrapper .category-options p:hover::before{
  height: 0;
}


.wrapper #blog .form-header .form-group .category-wrapper .category-options p::after{
  content:'';
  position: absolute;
  bottom: -1px;
  left: -2px;
  display: block;
  width: 0;
  height: 0;
  box-sizing: border-box;
  border: 1px solid #8c8c8c;
  transition: all 0.2s ease 0.2s;
}

.wrapper #blog .form-header .form-group .category-wrapper .category-options p:hover::after{
  width: 100%;
}



#blog .form-group .description #description {
  padding: 10px;
  width: 1024px;
  height: 60px;
  resize: none;
  box-sizing: border-box;
  border-radius: 5px;
  border-color: #ccc;
  outline: none;
}

#blog .form-group .description .description-count {
  vertical-align: text-top;
  color: #828282;
}


#blog .publish-btn{
  margin-bottom: 30px;
  width: 310px;
  height: 50px;
  background: url(/public/imgs/base/rtitbg.png) no-repeat 0 4px;
  border: none;
  outline: none;
  text-align: left;
  text-indent: 50px;
  letter-spacing: 2px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}