<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/public/css/admin/common.css">
  <link rel="stylesheet" href="/public/css/admin/content_index.css">
  <link rel="stylesheet" href="/public/css/userCenter/common.css">
  <link rel="stylesheet" href="/public/css/userCenter/settings.css">
  <title>个人中心</title>
</head>

<body>
  <div id="wrapper">
    <header>
      <div class="headtop"></div>
      <div class="contenttop">
        <div class="blank"></div>

        <nav>
          <div class="navigation">
            <ul class="menu">
              <li><a href="/">首页</a></li>
              <li><a href="/blog/index">博客</a></li>
              <li class="userInfo">
                <% if(userInfo._uid) {%>
                  <a href="javascript:void(0)" class="avatar"><img src="/public/imgs/avatar/default.jpg"></a>
                  <div class="userInfo-wrapper">
                    <div class="userCenter-wrapper nickname-wrapper">
                      <span class="nickname" title="<%= userInfo.nickname %>"><%= userInfo.nickname %></span>
                    </div>
                    <div class="userCenter-wrapper">
                      <div class="userCenter-options">
                        <a href="/blog/<%= userInfo._uid%>">我的博客</a>
                        <a href="/settings/basic">账号设置</a>
                      </div>
                      <div class="userCenter-options">
                        <a href="/admin">管理中心</a>
                        <a href="/api/user/logout">退出登录</a>
                      </div>
                    </div>
                  </div>
                <%} else {%>
                  <a href="javascript:void(0)" class="avatar"><img src="/public/imgs/avatar/default.jpg"></a>
                <% } %>
              </li>
              <li>
                <a href="#">写博客</a>
              </li>
              <li>
                <a href="#">每日一诗</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <div class="jztop"></div>
    <div class="container">
      <main>
        <section>
          <div class="settings">帐号设置</div>
          <div class="tabs clearfix">
            <a href="/settings/basic" class="active">基本信息</a>
            <a href="/settings/changepwd">修改密码</a>
            <a href="/settings/secureqa">密码保护</a>
            <a href="/settings/changeemail">修改邮箱</a>
            <a href="/my/account/loginlog">登录日志</a>
            <a href="/my/account/bind">第三方帐号绑定</a>
            <a href="/my/account/privacy">个人主页隐私设置</a>
          </div>
          <div class="tab-content security-tab-content">
            <div class="tab-pane active">
              <form id="basic_edit" role="form" class="form-horizontal">
                <div class="row">
                  <div class="nickname rowContent">
                    <label for="nickname">昵称:</label>
                    <input type="text" id="nickname">
                  </div>
                  <div class="gender rowContent">
                      <label>性别:</label>
                      <input type="radio" name="gender" value="1" checked="checked" id="man">
                      <label for="man">男</label> 
                      <input type="radio" name="gender" value="0" id="lady">
                      <label for="lady">女</label>
                  </div>
                </div>
                <div class="row">
                  <div class="job rowContent">
                    <label for="curjob">职位:</label>
                    <input type="text" id="curjob" name="curjob">
                  </div>
                  <div class="birthday rowContent">
                    <label for="birthday">生日:</label>
                    <input type="text" id="birthday" name="birthday">
                  </div>
                </div>
                <div class="row">
                  <div class="pos rowContent">地区:</div>
                  <div class="info rowContent">
                    <select id="s_province" name="s_province"></select>
                  </div>
                  <div class="info rowContent s_city">
                    <select id="s_city" name="s_city"></select>
                  </div>
                </div>
                <div class="row form-footer">
                  <button type="button" class="submit">保存修改</button>
                </div>
              </form>
              <!-- password_edit 结束-->
            </div>
            <div class="avatar-wrapper">
              <img src="/public/imgs/avatar/default.jpg" alt="" class="avatar" id="avatar"
              <span class="avatar-edit"></span>
            </div>
          </div>
        </section>
        <section class="upload" style="display:none;">
          <div class="upload-avatar-wrapper">
            <div class="upload-preview" id="upload-preview">
              <img src="" alt="" class="avatar-new" id="avatar-new">
              <div class="avatar-cut" id="avatar-cut"></div>
            </div>
            <div class="upload-tip">
              <span>仅支持JPG,PNG格式;文件小于2M</span>
            </div>
            <div class="upload-options">
              <div class="opt-select">
                <a href="javascript:void(0)" class="select-pic">
                  选择图片<input type="file" id="avatar-file">
                </a>
              </div>
              <div class="opt-cancel-save">
                <a href="" class="cancel">取消</a>
                <a href="" class="save">保存</a>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    <!-- container代码 结束 -->
    <div class="jzend"></div>
  </div>
  <footer>
    <div class="footer">
      <div class="f_l">
        <p>All Rights Reserved 版权所有：
          <a href="http://www.yangqq.com">郭昊个人博客</a> 备案号：蜀ICP备00000000号</p>
      </div>
      <div class="f_r textr">
        <p>Design by DanceSmile</p>
      </div>
    </div>
  </footer>
</body>
<script src="/public/js/jquery-3.3.1.js"></script>
<script src="/public/js/layDate/laydate.js"></script>
<script src="/public/js/userCenter/dsy.js"></script>
<script type=text/javascript>
  // Navigation Menu
  $(function() {
    $(".menu ul").css({display: "none"}); // Opera Fix
    $(".menu li").hover(function(){
      $(this).find('ul:first').css({visibility: "visible",display: "none"}).slideDown("normal");
    },function(){
      $(this).find('ul:first').css({visibility: "hidden"});
    });

    // laydate plugin init
    laydate.render({
      elem: '#birthday',
      format: 'yyyy-MM-dd'
    });

    // avatar edit List Show
    $('#avatar').click(function() {
      let avatar_src = $('#avatar').attr('src')
      $('#avatar-new').attr('src',avatar_src)
      $('.upload').show('normal')
    })

    // avatar edit List Hide
    $('.cancel').click(function() {
      $('.upload').hide()
    })

    // avatar select
    $('#avatar-file').on('change',function() {

      var docObj=document.getElementById("avatar-file");

      var imgObjPreview=document.getElementById("avatar-new");

      if(docObj.files &&docObj.files[0]) {
        // 判断文件格式
        if(docObj.files[0].type === 'image/jpeg' || docObj.files[0].type === 'image/png') {
          //火狐下，直接设img属性
          imgObjPreview.style.display = 'block';
          imgObjPreview.style.width = '200px';
          imgObjPreview.style.height = '200px';
          //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
          imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
        } else {
          return
        }
      } else {
        //IE下，使用滤镜
        docObj.select();
        var imgSrc = document.selection.createRange().text;
        var localImagId = document.getElementById("localImag");
        //必须设置初始大小
        localImagId.style.width = "150px";
        localImagId.style.height = "150px";
        //图片异常的捕捉，防止用户修改后缀来伪造图片
        try {
          localImagId.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
          localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
        }
        catch (e) {
          alert("您上传的图片格式不正确，请重新选择!");
          return false;
        }
        imgObjPreview.style.display = 'none';
        document.selection.empty();
      }
    })

    // avatar - cut
    $('#avatar-cut').on('mousedown',function(e) {
      e.preventDefault()
      if(e == window.event) {
        e.cancleBubble()
      } else {
        e.stopPropagation()
      }
      let max = $('#upload-preview').width() - $('#avatar-cut').width() - 1
      let left = $('#avatar-cut').position().left,top = $('#avatar-cut').position().top
      let curL = e.clientX, curT = e.clientY

      $(document).on('mousemove',function(e) {
        e.preventDefault()
        if(e === window.event) {
          e.cancleBubble()
        } else {
          e.stopPropagation()
        }
        let actL = e.clientX,actT = e.clientY
        let newL = left + actL - curL, newT = top + actT - curT
        newL = Math.max(0,newL)
        newT = Math.max(0,newT)

        newL = Math.min(max,newL)
        newT = Math.min(max,newT)
        $('#avatar-cut').css({left: newL,top:newT});
      })
      $(document).on('mouseup',function(e) {
        e.preventDefault()
        if(e === window.event) {
          e.cancleBubble()
        } else {
          e.stopPropagation()
        }
        $(document).unbind('mousemove').unbind('mouseup')
      })
    })

  });
</script>

</html>